.container-fluid-footer {
  background-color: black;
  padding: 14px;
  opacity: 40%;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  margin-top: 0;
}

.footer-content {
  color: white;
}
.copyright {
  color: #fdb353;
  font-weight: 100;
}

.icon {
  margin-left: 6px;
  font-size: 25px;
  color: #fff;
}

a:hover {
  text-decoration: none;
}
