@import url('https://fonts.googleapis.com/css?family=Raleway:200,400&display=swap');

.forecast-overlay {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 42%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

.forecast-header {
  border-bottom: 1px solid #fdb353;
  letter-spacing: 12px;
  color: white;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  font-size: 45px;
}

.large-temp {
  color: white;
  font-size: 70px;
  font-style: initial;
  font-weight: 100;
  letter-spacing: 1px;
}

.large-desc {
  font-size: 40px;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.button {
  border-bottom: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;

  background-color: transparent;
  color: #fdb353;
  padding: 10px;
  letter-spacing: 6px;
  font-size: 18px;
}

.button:hover {
  font-size: 19px;
  -webkit-transition: font-size 900ms linear;
  -ms-transition: font-size 900ms linear;
  transition: font-size 900ms linear;

  color: white;
  -webkit-transition: color 400ms linear;
  -ms-transition: color 400ms linear;
  transition: color 400ms linear;

  border-bottom: 2px solid #fdb353;
  -webkit-transition: color 600ms linear;
  -ms-transition: color 600ms linear;
  transition: color 600ms linear;
}

.reset {
  top: 15%;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.five-day {
  top: 75%;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.cards-container {
  background-image: url('../../images/lake.jpg');
  background-size: cover;
  height: auto;
  z-index: 999;
}

.down-icon {
  font-size: 40px;
  margin-left: 14px;
}

.col {
  margin-top: 3%;
}

.card {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: -8px;
}

.card-title {
  color: whitesmoke;
  font-weight: 100;
  letter-spacing: 4px;
}
.card-header {
  padding: 0;
  border-bottom: 1px solid white;
}

.card-body {
  background-color: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.weather-icon {
  color: white;
  font-size: 100px;
}

.left {
  position: absolute;
}
.right {
  position: absolute;
  right: 0;
}

.top-temp {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
}

.card-temp {
  color: white;
  font-size: 50px;
  font-weight: 100;
}

.card-description {
  margin-top: -20px;
  color: white;
  letter-spacing: 6px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 0px;
}

@media only screen and (max-width: 986px) {
  .weather-icon {
    margin-top: 20px;
    font-size: 80px;
  }

  .card {
    width: 90%;
  }
}

@media only screen and (max-width: 548px) {
  .reset {
    top: 10%;
  }
}

/* layout design for small and medium screens */
@media only screen and (max-width: 500px) {
  .five-day p {
    font-size: 12px;
    letter-spacing: 1px;
  }

  .down-icon {
    font-size: 30px;
    margin-left: 5px;
  }
}

/* layout design for large screens */

@media only screen and (max-width: 425px) {
  .top-temp {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .card {
    margin-top: 10px;
  }
}
