.homepage-overlay {
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.header {
  border-bottom: 1px solid #fdb353;
  letter-spacing: 12px;
  color: white;
  font-weight: 100;
  padding: 20px;
  font-size: 45px;
}

.secondary-header {
  letter-spacing: 0px;

  font-weight: 300;
}

.my-input {
  color: white;
  background: transparent;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-right: 10px;
  border-radius: 20px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.my-button {
  padding: 10px;
  border-radius: 0;
  color: #fdb353;
  background-color: transparent;
  font-weight: 100;
  border-bottom: 2px solid white;
  font-size: 18px;
  letter-spacing: 6px;
}

.search-icon {
  font-size: 30px;
}
.my-button:hover {
  font-size: 19px;
  -webkit-transition: font-size 900ms linear;
  -ms-transition: font-size 900ms linear;
  transition: font-size 900ms linear;

  color: white;
  -webkit-transition: color 400ms linear;
  -ms-transition: color 400ms linear;
  transition: color 400ms linear;

  border-bottom: 2px solid #fdb353;
  -webkit-transition: color 600ms linear;
  -ms-transition: color 600ms linear;
  transition: color 600ms linear;
}
.zip {
  color: white;
  font-weight: 200;
}
@media only screen and (max-width: 568px) {
  .my-input {
    margin-left: -20px;
  }

  .my-button:hover {
    background-color: red;
  }
}
